@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-border: var(--border);
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-card: var(--card);

  --animate-float: float 6s ease-in-out infinite;
  /* --animate-pulse-subtle: pulse-subtle 4s ease-in-out infinite; */
  --animate-fade-in: fade-in 0.7s ease-out forwards;
  --animate-fade-in-delay-1: fade-in 0.7s ease-out 0.2s forwards;
  --animate-fade-in-delay-2: fade-in 0.7s ease-out 0.4s forwards;
  --animate-fade-in-delay-3: fade-in 0.7s ease-out 0.6s forwards;
  --animate-fade-in-delay-4: fade-in 0.7s ease-out 0.8s forwards;

  --font-roboto-slab: "Roboto Slab";

  @keyframes float {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@layer base {
  :root {
    --background: #fafaf9;
    --foreground: #111827;

    --card: #f3f4f6;

    --primary: #64749b;
    --primary-foreground: #f8fafc;

    --border: #525252;
  }
  .dark {
    --background: #27272a;
    --foreground: #f8fafc;

    --card: #374151;

    --primary: #94a3b8;
    --primary-foreground: #111827;

    --border: #e7e5e4;
  }

  * {
    @apply border-border;
  }

  html {
    @apply scroll-smooth;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Roboto Slab", serif;
  }

  body {
    font-family: "Open Sans", sans-serif;
    @apply bg-background text-foreground transition-colors duration-300;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;

  @media (width >= 640px) {
    max-width: 640px;
  }
  @media (width >= 768px) {
    max-width: 768px;
  }
  @media (width >= 1024px) {
    max-width: 1024px;
  }
  @media (width >= 1280px) {
    max-width: 1280px;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

@utility text-glow {
  @apply relative;
  text-shadow: 0 0 10px rgba(167, 139, 250, 0.5);
}

@utility card-hover {
  @apply transition-transform duration-300 hover:scale-[1.02] hover:shadow-lg;
}

@utility gradient-border {
  @apply relative rounded-md;
  background: linear-gradient(to right, var(--card), var(--card));
}

@utility special-button {
  @apply px-6 py-2 rounded-2xl bg-primary text-primary-foreground font-medium
         transition-all duration-300 hover:shadow-[0_0_10px_rgba(150,150,160,0.5)]
         hover:scale-105 active:scale-95;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
